module.exports = {
  mysql: {
    host: "127.0.0.0",
    user: "root",
    password: "password",
    database: "dbname"
  },
  passport: {
    secret: "secret password here"
  },
  server: {
    port: 3000
  },
  mongo: {
    url: "mongodb://<user>:<password>@<url>:<port>/<db>"
  }
};
