.row
  .col-lg-12
    h1.page-header Distributions
.row
  - for (var i = 1; i <= 6; ++i) {
    .col-lg-6.padding-0
      .chart-wrapper
        .chart-title-wrapper
          h4.chart-title
        canvas(id='chart'+i)
        img(src='ripple.gif')
  - }
