.row
  .col-lg-12
    h1.page-header Distributions
.row
  .col-lg-6.padding-0
    .chart-wrapper
      .chart-title-wrapper
        h4.chart-title
      canvas#chart1
      img(src='ripple.gif')
  .col-lg-6.padding-0
    .chart-wrapper
      .chart-title-wrapper
        h4.chart-title
      canvas#chart2
      img(src='ripple.gif')
  .col-lg-6.padding-0
    .chart-wrapper
      .chart-title-wrapper
        h4.chart-title
      canvas#chart3
      img(src='ripple.gif')
  .col-lg-6.padding-0
    .chart-wrapper
      .chart-title-wrapper
        h4.chart-title
      canvas#chart4
      img(src='ripple.gif')
  .col-lg-6.padding-0
    .chart-wrapper
      .chart-title-wrapper
        h4.chart-title
      canvas#chart5
      img(src='ripple.gif')
