.splash-container
  .splash
    h1.splash-head MUJO INDUSTRY PORTAL
    p.splash-subhead
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    p
      a.btn.btn-default.btn-success(href='#') View Portal
