include mixins/top10item

h2 Output
table.table
  tbody
    tr
      td Sample size
      td= sampleSize
    - each outcome in outcomes
      tr
        td= outcome.name
        td= "Mean: " + outcome.mean + ", standard deviation: " + outcome.sd
.row
  .col-lg-12
    +top10Item("most-freq-prescribed")
  .col-lg-12
    +top10Item("most-freq-assessed")
