.row
  .col-lg-12
    h1.page-header Summary
.row
  .col-lg-12
    ul
      li 
        span Data updated on 
        strong 25th August 2016
      li
        strong 625 
        span patients (of which 
        strong 125 
        span active)
      li
        span 6 locations, 13 physios, 25 unique diagnoses, 37 unique prescriptions
      li
        span More stuff
.row
  .col-lg-12
    h1.page-header Top 10
.row
  .col-lg-4
    canvas#chart1
  .col-lg-4
    canvas#chart2
  .col-lg-4
    canvas#chart3
.row
  .col-lg-12
    a(href="#portal/top10") Show more...
.row
  .col-lg-12
    h1.page-header Distributions
.row
  .col-lg-6
    canvas#chart4
  .col-lg-6
    canvas#chart5
.row
  .col-lg-12
    a(href="#portal/distributions") Show more...
