.row
  .col-lg-12
    h1.page-header Summary
.row
  .col-lg-12
    ul
      li 
        span Data updated on 
        strong= new Date(updated).toUTCString()
      li
        strong= count.allpatients + ' ' 
        span patients (of which 
        strong= count.activepatients + ' ' 
        span active)
      li
        span= count.locations + ' locations, ' + count.physios + ' physios, ' + count.diagnoses + ' unique diagnoses, ' + count.prescriptions + ' unique prescriptions'
      li
        span More stuff
.row
  .col-lg-12
    h1.page-header Top 10
.row
  .col-lg-6
    canvas#chartTop0
  .col-lg-6
    canvas#chartTop1
.row
  .col-lg-12
    a(href="#portal/top10") Show more...
.row
  .col-lg-12
    h1.page-header Distributions
.row
  .col-lg-6
    canvas#chartDist0
  .col-lg-6
    canvas#chartDist1
.row
  .col-lg-12
    a(href="#portal/distributions") Show more...
