include ../partials/head.jade
include ../partials/header.jade
#wrapper
  #sidebar-wrapper
  #page-wrapper
    #page
      .row
        .col-lg-12.loading
          img(src='ripple.gif')
include ../partials/footer.jade
